.git
.gitignore
.venv

node_modules
frontend/node_modules
backend/node_modules

frontend/.next

__pycache__
*.pyc

logs
backend/logs

backend/docs/raw_pdfs
backend/docs/failed
backend/docs/knowledge_graph

.env
.env.local
.env.production
**/.env
**/.env.*
